a {
    text-decoration: none;
}

.error-message {
    text-align: left;
    font-style: italic;
}

.login-container {
            height: 70vh;
            background: url('https://res.cloudinary.com/dndsrbf9s/image/upload/v1731984424/4bd6eb8619e6625fe568afdd8682c2ba_gknloh.jpg') no-repeat center center fixed;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
}
.login-card {
            background-color: rgba(14, 16, 37, 0.7);
            border-radius: 15px;
            padding: 2rem;
            width: 100%;
            max-width: 600px;
            color: white;
}
.login-card .form-control {
            border-radius: 30px;
}
.login-card .btn {
            border-radius: 30px;
}
.login-card a {
            color: white;
            text-decoration: underline;
}
.login-card a:hover {
            color: #ddd;
            text-decoration: none;
}