<header class="text-white fs-5">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #03204C;">
        <div class="container-fluid">
            <a class="navbar-brand text-black bg-white fs-1 logo fw-bold" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Room
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/">Room 1</a></li>
                            <li><a class="dropdown-item" href="/">Room 2</a></li>
                            <li><a class="dropdown-item" href="/">Room 3</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Account</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>